{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/styles/about.css">
{% endblock %}

{% block content %}
    <h1>Hello there!</h1>
    <span class="subtext">LAST UPDATED ON NOV 14, 2025</span>
    <br>
    <div class="flex-container">
      <div class="flex-item-img">
        <img src="/static/images/climbing-selfie.jpeg" alt="Climbing" height="320">
      </div>
      <div class="flex-item-text">
        <p>My name is Jordan Cahill and you're browsing my personal website.</p>
        <p>I'm a software engineer, rock climber, Japanese language & trees enthusiast with eclectic playlists based in Austin, TX.</p>
        <p>I make <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1AaULY7mKdpZJGnukPAAxzKC-fGRHHAko?usp=sharing">art</a> from time to time but lately been spending most of my time traveling & in nature.</p>
        <p>Feel free to reach out with thoughts & ideas at <a href="mailto:jordancahill88@gmail.com">jordancahill88@gmail.com</a>.</p>
      </div>
    </div>
{% endblock %}