{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/styles/blog.css?v={{ build_ts }}">
{% endblock %}

{% block content %}
    <h1>Posts I've written</h1>

    <h2>2025</h2>
    <ul>
      <li><a href="/blog/japanese/">True Randomness</a><span class="subtext">NOV 1</span></li>
      <li><a href="/blog/japanese/">Japanese Euphonic Changes</a><span class="subtext">OCT 18</span></li>
      <li><a href="/blog/japanese/">The Way Things Are</a><span class="subtext">SEP 13</span></li>
      <li><a href="/blog/japanese/">Linguistics & Communication</a><span class="subtext">JUL 4</span></li>
    </ul>
{% endblock %}