{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/styles/index.css?v={{ build_ts }}">
  <link rel="stylesheet" href="/static/styles/modal.css?v={{ build_ts }}">
{% endblock %}

{% block content %}
    <div class="flex-container">
      <div class="flex-item">
        <section>
          <h1>Welcome!</h1>
          <p>My name is <a href="/about/">Jordan Cahill</a> and you're currently logged on to my personal website.</p>
          <p>The sourcecode can be found on <a target="_blank" rel="noopener noreferrer" href="https://github.com/chord-memory/chord-memory-net">GitHub</a>.</p>
        </section>
        
        <hr>

        <section>
          <h2>Something to Consider</h2>
          <em>I need the time tattooed on me permanently.</em>
        </section>
        
        <hr>
        
        <section>
          <h2>
            <a href="/books/">Book reviews</a>
          </h2>
          <div class="flex-media">
            <div class="flex-media-item">
              <div>
                <img class="media-cover" src="/static/images/bird-by-bird.jpg" alt="Book cover" height="180">
                <br>
                <p class="subtext">40% COMPLETE</p>
              </div>
            </div>
            <div class="flex-media-item">
              <div>
                <img class="media-cover" src="/static/images/comptia-security-study-guide.jpg" alt="Book cover" height="180">
                <br>
                <p class="subtext">13% COMPLETE</p>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section>
          <h2>
            <a href="/movies/">Movie reviews</a>
          </h2>
          <div class="flex-media">
            <div class="flex-media-item">
              <div>
                <img class="media-cover" src="/static/images/the-ring.jpg" alt="Book cover" height="180">
                <br>
                <p class="subtext">NOV 16 2025</p>
              </div>
            </div>
            <div class="flex-media-item">
              <div>
                <img class="media-cover" src="/static/images/badlands.jpg" alt="Book cover" height="180">
                <br>
                <p class="subtext">OCT 11 2025</p>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section>
          <h2>Recent Blog Posts</h2>
          <a href="/blog/japanese/">True Randomness</a><br>
          <a href="/blog/japanese/">Japanese Euphonic Changes</a><br>
          <a href="/blog/japanese/">The Way Things Are</a><br>
          <a href="/blog/japanese/">Linguistics & Communication</a><br>
        </section>

        <hr class="flex-break">
      </div>
      <div class="flex-item">
        <section>
            <!--I was recently listening to-->
            <h2>I am currently listening to »</h2>
            <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/6NTMv6UZz9sR3E2sDsuuPd">
              <img class="music-cover" src="/static/images/player-non-player.jpg" alt="Album cover" height="180">
            </a>
            <div>
              <strong>Agar Agar</strong><br>
              <em>Dragon</em><br><br>
              <div class="subtext">
                <strong>PREVIOUSLY</strong><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/0cxWpZybCJ7t53Gi8TK7iD">🎧 A New Living Being Opens Its Eyes For the First Time - Dylan Henner</a><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/7fSqQ2xxDDBbKkwLTUOnoG">🎧 I'm Ready - Linkwood</a><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/7Mfphp1hjAJIcOdHKM1Pf1">🎧 Your Touch - Saâda Bonaire</a><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/6ViIhvGzXnftyFOYC9fVb6">🎧 Alles dubhjørne - Alle</a><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/52Wvl8ZDJKrmLYpnr9aT4C">🎧 My Dear Life - Mariangela Celeste</a><br>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/37BtXnSdQYv2D15qxXe7md">🎧 first period - Rei Harakami</a><br>
              </div>
            </div>
        </section>

        <hr>

        <section>
          <h2>Featured playlist »</h2>
          
          <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/7fhrIntiFuF2gg8mqMPQPx">
            <img class="music-cover" src="/static/images/close-your-eyes.png" alt="Playlist cover" height="180">
          </a>
          <div>
            <em>close your eyes</em><br><br>
            <div class="subtext">
              <strong>SEE ALSO</strong><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/6GmJsJzTLwcSKhk1PMyRFi">🎧 rare moment</a><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/1s0USuiCPvYoE5clYfzdn6">🎧 Wasteland</a><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/1ItCTpe77B9W97ELyOQChx">🎧 the way things are</a><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/4oq9E3Db1zDUgl2J4frzKT">🎧 ambient something</a><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/6ymMqJcwZT6Odhb6JdND0O">🎧 Adventures in the Land of Music</a><br>
              <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/playlist/2AAYVChnF8Dud9QLgsZYQ5">🎧 walking in circles</a><br>
            </div>
          </div>
        </section>

        <hr>

        <section>
          <p class="subtext credit">Much credit to Marcus Crane whose website <a target="_blank" rel="noopener noreferrer" href="https://utf9k.net/">utf9k.net</a> I took heaping inspiration from.</p>
        </section>
      </div>
    </div>

{% include "modal.html" %}
{% endblock %}

{% block scripts %}
  <script src="/static/scripts/modal.js?v={{ build_ts }}"></script>
{% endblock %}